/* =====================
   CATEGORIES
===================== */
.categories {
  padding: 128px 20px 0;
}

.categories__container {
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.categories__cards {
  max-width: 1280px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 296px);
  justify-content: center;
  gap: 32px;
}

/* Адаптив для Categories */
@media (max-width: 1300px) {
  .categories__cards {
    grid-template-columns: repeat(2, 296px);
  }
}

@media (max-width: 1024px) {
  .categories__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .categories__cards {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }
}
