/* =====================
   FEATURED LOGOS
===================== */
.featured {
  padding: 96px 0;
}

.featured__inner {
  display: flex;
  align-items: center;
}

.featured__label-box {
  max-width: 135px;
  height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured__label-small {
  color: #6d6e76;
}

.featured__label-large {
  color: var(--color-gray);
}

.featured__logos {
  display: flex;
  align-items: center;
  gap: 74px;
  margin-left: 87px;
}

.featured__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured__logo img {
  max-width: 100%;
  max-height: 100%;
}

/* Адаптив для Featured */
@media (max-width: 768px) {
  .featured__inner {
    flex-direction: column;
    gap: 32px;
  }
  
  .featured__logos {
    flex-wrap: wrap;
    justify-content: center;
  }
}
