/* =====================
   HEADER
===================== */
.header {
  background-color: #232536;
  color: #ffffff;
  position: relative;
  max-width: 100%;
  height: 80px;
}

.header__inner {
  max-width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 24px;
  margin-right: 32px;
  margin-left: auto;
}

.header__link {
  font-size: 16px;
}

.header__logo {
  margin-left: 83px;
  font-size: 28px;
  font-weight: 700;
}

.header__link {
  opacity: 0.8;
}

.header__link:hover {
  opacity: 1;
}

.header .button--white {
  margin-right: 80px;
  color: #000;
  background-color: #ffffff;
}

.header .button--white:hover {
  background-color: #ffd050;
}

/* Адаптив для Header */
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
