/* =====================
   HERO
===================== */
.hero {
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../../../images/hero.jpg") center / cover no-repeat; /* Добавлена ../ */
  color: #ffffff;
  padding: 160px 0;
}

.hero__content {
  max-width: 900px;
  margin-left: 80px;
}

.hero__tag {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  margin-bottom: 24px;
  color: #ffffff;
}

.hero__title {
  margin: 24px 0;
}

.hero__meta {
  margin-bottom: 16px;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.9;
}

.hero__author {
  color: var(--color-yellow);
  font-weight: 700;
  transition: color 0.2s ease;
}

.hero__author:hover {
  color: var(--color-purple);
}

.hero__text {
  max-width: 600px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.6;
  color: #e5e5e5;
}

/* Адаптив для Hero */
@media (max-width: 768px) {
  .hero {
    padding: 96px 0;
  }
}
