/* =====================
   JOIN
===================== */
.join {
  max-width: 414px;
  width: 90%;
  height: auto;
  min-height: 256px;
  margin: 0 auto 128px;
  padding: 20px;
  box-sizing: border-box;
}

.join__inner {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.join__title {
  margin-bottom: 16px;
  letter-spacing: -2px;
}

.join__text {
  margin-bottom: 32px;
  font-size: 16px;
}
