/* =====================
   STORY
===================== */
.story {
  padding: 128px 20px 0;
}

.story__inner {
  max-width: 1280px;
  width: 100%;
  height: auto;
  min-height: 705px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.story__image {
  width: 949px;
  max-width: 100%;
  height: 705px;
  max-height: 100%;
  background: url("../../../images/story.jpg") center / cover no-repeat; /* Добавлена ../ */
  position: relative;
}

.story__content {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 706px;
  max-width: 55%;
  height: auto;
  min-height: 584px;
  background-color: var(--color-white);
  padding: 80px;
  box-sizing: border-box;
}

.story__label {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-purple);
  margin-bottom: 24px;
}

.story__title {
  margin-bottom: 16px;
  color: var(--color-dark);
}

.story__text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 32px;
  color: var(--color-gray);
}

.story__content .button {
  margin-top: auto;
  margin-bottom: auto;
  align-self: flex-start;
}

/* Адаптив для Story */
@media (max-width: 1100px) {
  .story__inner {
    display: flex;
    flex-direction: column;
  }
  
  .story__image {
    width: 100%;
    height: 60vh;
    min-height: 400px;
  }
  
  .story__content {
    position: relative;
    width: 90%;
    max-width: 100%;
    margin: -80px auto 0;
    padding: 40px;
    right: auto;
    bottom: auto;
  }
}
