.button {
  padding: 16px 48px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.button--yellow {
  background-color: #ffd050;
  color: #000000;
  transition: background-color 0.2s ease;
}

.button--white {
  background-color: var(--color-white);
}

.button--yellow:hover {
  background-color: #EDC14A;
  color: #000000;
}

.button--white:hover {
  background-color: #EDC14A;
}
