*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Sen', sans-serif;
  font-weight: 400;
  color: var(--color-dark);
  background-color: var(--color-white);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  overflow: hidden;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

p {
  line-height: 1.6;
  color: #6d6e76;
}

h1 {
  font-size: 56px;
  line-height: 1.2;
}

h2 {
  font-size: 48px;
  line-height: 1.3;
}

h3 {
  font-size: 32px;
  line-height: 1.4;
}

h4 {
  font-size: 24px;
  line-height: 1.4;
}

