.button {
  padding: 16px 48px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.button--yellow {
  background-color: #ffd050;
  color: #000000;
  transition: background-color 0.2s ease;
}

.button--white {
  background-color: var(--color-white);
}

.button--yellow:hover {
  background-color: #EDC14A;
  color: #000000;
}

.button--white:hover {
  background-color: #EDC14A;
;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
}

.post-card__meta {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--color-dark);
}

.post-card__title {
  font-size: 24px;
  line-height: 1.4;
  color: var(--color-dark);
}

.about__link {
  color: #592ea9;
  font-weight: 700;
}

.category-card,
.author-card,
.testimonial-card {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);
}

.text--small {
  font-size: 14px;
  font-weight: 500;
}

.text--meta {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-gray);
}

.text--link {
  font-weight: 500;
  color: var(--color-purple);
}

.text--link:hover {
  color: var(--color-yellow);
}

.post-author:hover {
  color: var(--color-yellow);
}

.posts .post-author:hover {
  color: var(--color-yellow);
}

.posts__featured .posts__view {
  margin-top: auto;
}

.posts__featured .button {
  margin-top: auto;
  margin-bottom: auto;
  align-self: flex-start;
}

.story__content .button {
  margin-top: auto;
  margin-bottom: auto;
  align-self: flex-start;
}


