section {
  position: relative;
}

/* =====================
   HEADER
===================== */

.header {
  background-color: #232536;
  color: #ffffff;
  position: relative;
  width: 100%;
  height: 80px;
}

.header__inner {
  max-width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 24px;
  margin-right: 32px;
  margin-left: auto;
}

.header__link {
  font-size: 16px;
}

.header__logo {
  margin-left: 83px;
  font-size: 28px;
  font-weight: 700;
}

.header__link {
  opacity: 0.8;
}

.header__link:hover {
  opacity: 1;
}

.header .button--white {
  margin-right: 80px;
  color: #000;
  background-color: #ffffff;
}

.header .button--white:hover {
  background-color: #ffd050;
}

/* =====================
   HERO
===================== */

.hero {
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../../images/hero.jpg") center / cover no-repeat;
  color: #ffffff;
  padding: 160px 0;
}

.hero__content {
  max-width: 900px;
  margin-left: 80px;
}

.hero__tag {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  margin-bottom: 24px;
  color: #ffffff;
}

.hero__title {
  margin: 24px 0;
}

.hero__meta {
  margin-bottom: 16px;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.9;
}

.hero__author {
  color: var(--color-yellow);
  font-weight: 700;
  transition: color 0.2s ease;
}

.hero__author:hover {
  color: var(--color-purple);
}


.hero__text {
  max-width: 600px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.6;
  color: #e5e5e5;
}


/* =====================
   POSTS
===================== */

.posts {
  display: flex;
  grid-template-columns: auto auto;
  gap: 64px;
  padding: 128px 0;
  justify-content: center;
}

.posts__wrapper {
  width: 1282px;
  height: 804px;
  display: flex;
  gap: 32px;
}

.posts__column--featured {
  width: 733px;
  height: 804px;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
}


.posts__column--list {
  padding-right: 78px;
  width: 517px;
  height: 804px;
  flex-shrink: 0;
}

.posts__title {
  margin-bottom: 32px;
}

.posts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.posts__featured {
  border: 1px solid rgba(109, 110, 118, 0.2);
  padding: 32px;

  flex: 1;
  display: flex;
  flex-direction: column;
}

.posts__featured img {
  margin: 24px 0;
}

.posts__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.post-card {
  padding: 24px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.post-card:hover {
  background-color: rgba(255, 208, 80, 0.2);
}

.posts__featured h3 {
  font-size: 28px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.posts__featured p {
  margin-bottom: 32px;
  color: var(--color-gray);
}

.posts__view {
  font-size: 14px;
  font-weight: 700;
  color: #592ea9;
}

.post-meta {
  font-size: 14px;
  margin-bottom: 16px;
  color: var(--color-dark);
}

.post-author {
  color: var(--color-purple);
  font-weight: 700;
  position: relative;
}


/* =====================
   ABOUT
===================== */

.about {
    width: 1280px;
  height: 523px;
  margin: 0 auto;
  position: relative;
}

.about__box {
  width: 1280px;
  height: 523px;
  margin: 0 auto;
  position: relative;
}

.about__stripe {
  position: absolute;
  top: 0;
  right: 0;
  width: 1061px;
  height: 23px;
  display: flex;
  z-index: 2;
}

.about__bg {
  position: absolute;
  bottom: 0;
  width: 1280px;
  height: 500px;
  background-color: #f4f0f8;
}

.about__stripe--yellow {
  width: 843px;
  background-color: var(--color-yellow);
}

.about__stripe--purple {
  width: 218px; /* 1061 - 843 */
  background-color: var(--color-purple);
}

.about__content {
  display: flex;
  position: relative;
  z-index: 1;
}

.about__block--left {
  width: 515px;
  height: 308px;
  margin-right: 61px;
  margin-left: 80px;
  margin-top: 96px;
  margin-bottom: 96px;
}

.about__block--right {
  width: 516px;
  height: 248px;
  margin-right: 108px;
  margin-top: 96px;
  margin-bottom: 153px;
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
}

.about__label {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--color-purple);
}

.about__block h3 {
  margin-bottom: 16px;
  font-size: 32px;
}

.about__block p {
  margin-bottom: 32px;
}

/* =====================
   CATEGORIES
===================== */

.categories {
  padding-top: 128px;
}

.categories__container {
  width: 1280px;
  height: 324px;
  margin: 0 auto;
}

.section-title--center {
  text-align: center;
  margin-bottom: 48px;
}

/* Контейнер карточек */
.categories__cards {
  width: 1280px;
  height: 228px;
  display: grid;
  grid-template-columns: repeat(4, 296px);
  gap: 32px;
}

/* Карточка */
.category-card {
  position: relative;
  width: 296px;
  height: 228px;
  padding: 32px;
  border: 1px solid #e5e5e5;
  transition: background-color 0.2s ease;
}

.category-card:hover {
  background-color: var(--color-yellow);
}

/* Иконка */
.category-card__icon {
  width: 48px;
  height: 48px;
  background-color: #FBF6EA;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.category-card__icon img {
  width: 24px;
  height: 24px;
}

/* Текст */
.category-card__title {
  font-size: 28px;
  margin-bottom: 8px;
  color: var(--color-dark);
}

.category-card__text {
  font-size: 14px;
  color: var(--color-gray);
}


/* =====================
   STORY
===================== */

.story {
  padding-top: 128px;
}

.story__inner {
  position: relative;
  width: 1280px;
  height: 705px;
  margin: 0 auto;
}

.story__image {
  width: 949px;
  height: 705px;
  background: url("../../images/story.jpg") center / cover no-repeat;
}

.story__content {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 706px;
  height: 584px;
  background-color: var(--color-white);
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story__label {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-purple);
  margin-bottom: 24px;
}

.story__title {
  margin-bottom: 16px;
  color: var(--color-dark);
}

.story__text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 32px;
  color: var(--color-gray);
}


/* =====================
   AUTHORS
===================== */

.authors {
  width: 1280px;
  height: 420px;
  margin: 0 auto;
  margin-top: 128px;
}

.authors__grid {
  display: grid;
  grid-template-columns: repeat(4, 296px);
  gap: 32px;
  justify-content: center;
}

.author-card {
  width: 296px;
  height: 324px;
  background-color: var(--color-light);
  padding: 40px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.author-card:hover {
  background-color: #FBF6EA;
}

.author-card:hover {
  transform: translateY(-4px);
}

.author-card__avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

.author-card__name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
  color: var(--color-dark);
}

.author-card__role {
  font-size: 14px;
  color: var(--color-gray);
  margin-bottom: 24px;
}

.authors .section-title {
  margin-bottom: 48px;
}

.author-card__socials {
  display: flex;
  gap: 16px;
}

.author-card__socials img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* =====================
   FEATURED LOGOS
===================== */

.featured {
  padding: 96px 0;
}

.featured__inner {
  display: flex;
  align-items: center;
}

.featured__label-box {
  width: 135px;
  height: 52px;

  display: flex;
  flex-direction: column;
  justify-content: center;   /* центрируем текст внутри */
}


.featured__label-small {
  color: #6d6e76;
}

.featured__label-large {
  color: var(--color-gray);
}

.featured__logos {
  display: flex;
  align-items: center;
  gap: 74px;
  margin-left: 87px;  
}

.featured__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured__logo img {
  max-width: 100%;
  max-height: 100%;
}

/* =====================
   TESTIMONIALS
===================== */

.testimonials {
  width: 1280px;
  height: 464px;
  background-color: var(--color-light-yellow);
  margin: 0 auto 128px;
}

.testimonials__inner {
  position: relative;
  width: 100%;
  height: 100%;
}


.testimonials__intro {
  position: absolute;
  top: 92px;
  left: 112px;

  width: 349px;
  height: 200px;
}

.testimonials__label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  margin-bottom: 12px;
}

.testimonials__title {
  margin-bottom: 16px;
}

.testimonials__text {
  color: #6d6e76;
  line-height: 1.6;
}

.testimonials__divider {
  position: absolute;
  top: 80px;
  left: 541px;
  width: 1px;
  height: 310px;
  background-color: #d6d6d6;
}

.testimonial-card {
  background-color: #ffffff;
  padding: 48px;
}

.testimonials__content {
  position: absolute;
  top: 80px;
  right: 174px;

  width: 480px;
}

.testimonials__quote {
  font-size: 24px;
  line-height: 1.4;
  color: #232536;
  margin-bottom: 121px;
}


.testimonials__author {
  width: 257px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.testimonials__avatar-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden; /* Обрезаем всё, что выходит за круг */
  position: relative;
}

.testimonials__avatar {
  /* Заставляем изображение заполнять контейнер и больше */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Увеличиваем масштаб изображения */
  transform: scale(2.8);
  /* Можно регулировать положение после увеличения */
  object-position: -4px 7px; /* Смещаем изображение по горизонтали на 20% */;
}


.testimonials__name {
  font-size: 24px;
  font-weight: 700;
}

.testimonials__city {
  color: #6d6e76;
  font-size: 16px;
}

.testimonials__controls {
  position: absolute;
  right: 112px;
  bottom: 87px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.testimonial-btn {
  position: relative;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  border: none;
  cursor: pointer;

  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  
  transform: rotate(180deg);

  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.testimonial-btn:hover {
  transform: scale(1.29);
  background-color: var(--color-dark-2);
}

.testimonial-btn:hover .arrow--black {
  opacity: 0;
  transform: scale(0.8);
}

.testimonial-btn:hover .arrow--white {
  opacity: 1;
  transform: scale(1);
}

.arrow-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.testimonial-btn--prev .arrow-wrapper {
  transform: rotate(180deg);
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;

  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.arrow--black {
  opacity: 1;
  transform: scale(1);
}

.arrow--white {
  opacity: 0;
  transform: scale(0.8);
}

/*======================
    JOIN
===================== */

.join {
  width: 414px;
  height: 256px;
  margin: 0 auto 128px;
}

.join__inner {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.join__title {
  margin-bottom: 16px;
  letter-spacing: -2px;
}

.join__text {
  margin-bottom: 32px;
  font-size: 16px;
}


/* =====================
   FOOTER
===================== */

.footer {
  background-color: #232536;
  padding: 59px 80px 56px;
}

.footer__inner {
  position: relative;

  width: 1280px;
  height: 445px;

  margin: 0 auto;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  position: absolute;
  top: 2px;
  left: 3px;

  height: 28px;
}

.footer__nav {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  gap: 24px;
}

.footer__nav a {
  color: #ffffff;
  opacity: 0.8;
}

.footer__nav a:hover {
  opacity: 1;
}

.footer__subscribe {
  position: absolute;
  top: 96px;
  left: 0;

  width: 1280px;
  height: 256px;
  background-color: #2e3040;

  display: flex;
  align-items: center;
}

.footer__subscribe-title {
  margin-left: 64px;
  margin-right: 64px;
  letter-spacing: -2px;
  color: var(--color-white);
  max-width: 562px;
}

.footer__form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__form input {
  width: 323px;
  height: 56px;

  background: transparent;
  border: 1px solid var(--color-dark-gray);
  color: var(--color-dark-gray);

  padding: 0 16px;
}

.footer__socials {
  position: absolute;
  right: 0;
  bottom: 28px;
  filter: invert(0.3);

  display: flex;
  gap: 24px;
}

.footer__contacts {
  position: absolute;
  left: 0;
  bottom: 0;

  text-align: left;

  color: #d6d6d6;
  font-size: 16px;
}

/* =====================
   MEDIA QUERIES
===================== */

@media (max-width: 1024px) {

  .posts {
    grid-template-columns: 1fr;
  }

  .about__inner,
  .story__inner,
  .testimonials__inner {
    grid-template-columns: 1fr;
  }

  .categories__grid,
  .authors__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__title {
    font-size: 44px;
  }

  .footer__subscribe {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}

@media (max-width: 768px) {

  .header__nav {
    display: none;
  }

  .hero {
    padding: 96px 0;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  .categories__grid,
  .authors__grid {
    grid-template-columns: 1fr;
  }

  .featured__inner {
    flex-direction: column;
    gap: 32px;
  }

  .featured__logos {
    flex-wrap: wrap;
    justify-content: center;
  }

  .testimonial-card {
    padding: 32px;
  }

  .footer__top {
    flex-direction: column;
    gap: 24px;
  }

  .footer__nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__form {
    flex-direction: column;
    width: 100%;
  }

  .footer__form input {
    width: 100%;
  }
}

