:root {
  --color-dark: #1c1f2a;
  --color-dark-2: #232536;
  --color-yellow: #ffd050;
  --color-light-yellow: #FBF6EA;
  --color-purple: #592ea9;
  --color-gray: #6d6e76;
  --color-dark-gray: #4C4C4C;
  --color-light: #f4f4f4;
  --color-white: #ffffff;

  --container-width: 1280px;
}
